/* 
div {
  text-align: justify;
  text-justify: inter-word;
} */
/* text-justify: inter-character; */
h1.title {
  font-size: 300% !important;
  color: #cf6464 !important;
}

h1 {
  font-size: 200% !important;
}

h2 {
  font-size: 150% !important;
    color: #cf6464 !important;
}

h3 {
  font-size: 120% !important;
}

span.authorname {
  font-weight: bold
}

span.affiliation, span.location {
  color: #676767;
  font-style: italic
}

/* , span.location, */
span.email {
  font-style: italic
}


p.date {
  font-style: italic;
    color: #676767;
}

.container {
  max-width: 720px;
}

span.doi {
  color: #676767;
  font-style: italic
}

span.doi a {
  visibility: hidden;
  font-size: 0;
}

span.doi a:before {
  content: "\f360";
  font-size: 14px;
  visibility: visible;
  font-weight: bold;
  font-style: normal;
  font-family: 'Font Awesome 5 Free';
}

.abstract {
  padding-top: 16pt;
  padding-bottom: 16pt;
}

div.abstract p {
  margin-left: 0px;
  border-left: solid #d05a65 8px;
  padding-left: 8px;
  color: #676767;
  font-style: italic;
  font-weight: bold;
}

/* div[id^="ref-"] p {
  font-size: 10pt;
  color: blue;
} */
.references p {
  color: #676767;
  font-size: 11pt !important;
  line-height: 1.3em !important;
}


#refs {
    color: #676767;
}

#bibliography {
  padding-top: 16pt;
  border-top: solid #c2c2c2 1px;
}

ul {
  color: #2d3033;
  margin-left: 1em;
  font-family: Roboto;
  font-size: 12pt;
}

a {
  color: #cf6464 !important;
}

/* 
img {
  padding: 12px;
} */


figcaption {
  font-family: Roboto !important;
  color: #676767 !important;
  font-size: 80%;
  font-style: italic;
  padding-top: 4px;
}

.column {
  padding: 4px;
}

/* div {
 column-gap: 40px !important;
} */
/* figure{
  display: flex !important;
} */
